<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Rozer – Electronics eCommerce HTML Template</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon/favicon.png" />
  <!-- Google Fonts -->

</head>

<body>

<!-- Header Section End Here -->

<!-- Mobile Header Section Start -->
<div class="header-topbg-dark ptb-30px d-xl-block d-none sticky-nav" style="background-color:#f5b82e">
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex">
        <div class="mobile-menu-toggle home-2">
          <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
            <svg viewBox="0 0 800 600">
              <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
              <path d="M300,320 L540,320" id="middle"></path>
              <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
            </svg>
          </a>
        </div>

        <div class="logo">

        </div>
      </div>

      <!--Cart info Start -->

    </div>
  </div>
  <!--Cart info End -->
</div>


<!-- Header Nav End -->
<div class="mobile-header d-xl-none sticky-nav bg-white ptb-10px">
  <div class="container">
    <div class="row align-items-center">

      <!-- Header Logo Start -->
      <div class="col">
        <div class="header-logo">
          <a href="index.html"><img class="img-responsive" src="assets/images/slika1.jpg" alt="logo.jpg"  style="width:5%"/></a>
        </div>
      </div>
      <!-- Header Logo End -->

      <!-- Header Tools Start -->
      <div class="col-auto">
        <div class="header-tools justify-content-end">

          <div class="mobile-menu-toggle">
            <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
              <svg viewBox="0 0 800 600">
                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                <path d="M300,320 L540,320" id="middle"></path>
                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!-- Header Tools End -->

    </div>
  </div>
</div>

<!-- Search Category Start -->

<!-- Mobile Header Section End -->
<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
  <div class="inner">
    <div class="head">
      <span class="title">Wishlist</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/7.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a  class="title">Walnut Cutting Board</a>
            <span class="quantity-price">1 x <span class="amount">$100.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/9.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Lucky Wooden Elephant</a>
            <span class="quantity-price">1 x <span class="amount">$35.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/8.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Fish Cut Out Set</a>
            <span class="quantity-price">1 x <span class="amount">$9.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="buttons">
        <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
      </div>
    </div>
  </div>
</div>
<!-- OffCanvas Wishlist End -->

<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
  <div class="inner">
    <div class="head">
      <span class="title">Cart</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/1.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Walnut Cutting Board</a>
            <span class="quantity-price">1 x <span class="amount">$100.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/2.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Lucky Wooden Elephant</a>
            <span class="quantity-price">1 x <span class="amount">$35.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/3.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Fish Cut Out Set</a>
            <span class="quantity-price">1 x <span class="amount">$9.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<!-- OffCanvas Cart End -->

<!-- OffCanvas Search Start -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
  <div class="inner customScroll">
    <div class="head">
      <span class="title">&nbsp;</span>
      <button class="offcanvas-close">×</button>
    </div>

    <div class="offcanvas-menu">
      <ul>
        <li><a><span class="menu-text">Početna</span></a></li>
        <li><a (click)="onClick('#kontakt')">Kontaktiraj nas</a></li>
        <li><a ><span class="menu-text" (click)="logout()">Izloguj se</span></a></li>


      </ul>
    </div>



  </div>
</div>
<!-- OffCanvas Search End -->

<div class="offcanvas-overlay"></div>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content">
          <ul class="nav">
            <li><a routerLink="../../homepage">Početna</a></li>
            <li>Korisnik</li>

            <li><a (click)="logout()"><button>Odjavi se</button></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End-->
<!-- cart area start -->
<div class="cart-main-area mtb-60px">
  <div class="container">
    <h3 class="cart-page-title">Your cart items</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <form>
          <div class="table-content table-responsive cart-table-content">
            <table>
              <thead>
              <tr>
                <th>Slika produkta</th>
                <th>Naziv produkta</th>
                <th>Originalna cijena produkta</th>
                <th>Modifikovana cijena</th>
                <th>Opis produkta</th>
                <th>Akcija</th>
                <th>Status</th>
              </tr>
              </thead>
<ng-container *ngFor="let a of userPosts ">
              <tbody  *ngFor="let b of a ">
              <tr>
                <td class="product-thumbnail">
                  <a ><img class="img-responsive" src="http://localhost:8000/storage/file/{{b.slika[0].url}}" alt="" /></a>
                </td>
                <td class="product-name"*ngIf="b.id!==idM"><a >{{b.naziv}}</a></td>
                <td class="product-price-cart"*ngIf="b.id!==idM "><span class="amount">{{b.cijena}}</span></td>
                <td class="product-price-cart"*ngIf="b.id!==idM && b.modcijena!==null "><span class="amount">{{b.modcijena}}</span></td>
                <td class="product-quantity"*ngIf="b.id!==idM">
                  {{b.opis}}
                </td>

                <td class="product-name"  *ngIf="b.id===idM"><input [(ngModel)]="idPost.naziv"[ngModelOptions]="{standalone: true}"  class="form-control" ></td>
                <td class="product-price-cart" *ngIf="b.id===idM"><input  [(ngModel)]="idPost.cijena" [ngModelOptions]="{standalone: true}" class="form-control" ></td>
                <td class="product-quantity" *ngIf="b.id===idM" >
                 <input [(ngModel)]="idPost.opis" [ngModelOptions]="{standalone: true}" class="form-control" >
                </td>


                <td class="product-remove">

                  <a *ngIf="b.id!==idM"  (click)="delAsUser(b.index,b.id)"><i class="icon-close"></i></a>
                  <a *ngIf="b.id!==idM"> <i class="icon-pencil" (click)="sw(b.id,b.index)"></i></a>
                  <a *ngIf="b.id===idM"  (click)="sw(0,b.index)"><i class="icon-close"></i></a>
                  <a *ngIf="b.id===idM" (click)="sw(-1,b.index)"> <i class="icon-energy" ></i></a>
                </td>

                <td class="product-quantity">
                  <p *ngIf="b.javno ==='1'" style="color: greenyellow"> Objavljen</p>
                  <p *ngIf="b.javno!=='1'" style="color: orangered"> Na čekanju</p>
                  <p *ngIf="b.placen === '1'" style="color: greenyellow"> Placen</p>
                  <p *ngIf="b.placen!=='1'" style="color: orangered"> Besplatan</p>
                </td>
              </tr>
              </tbody>
</ng-container>
            </table>

          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="cart-shiping-update-wrapper">

                <div class="cart-clear ">

                  <a (click)="dodajKaoUser()">Dodaj oglas</a>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-lm-30px">
            <div class="discount-code-wrapper">
              <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
              </div>
              <div class="discount-code">
                <p>Enter your coupon code if you have one.</p>
                <form>
                  <input type="text" required="" name="name" />
                  <button class="cart-btn-2" type="submit">Apply Coupon</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- cart area end -->
<!-- Footer Area Start -->
<div class="footer-area" id="#kontakt" style="background-color: #f5b82e ">
  <div class="footer-container" >
    <div class="footer-top ">
      <div class="container">
        <div class="row" >
          <div class="col-md-6 col-lg-4 ">
            <div class="single-wedge">
              <h4 class="footer-herading">O nama :</h4>
              <p class="text-infor">Mi smo mladi tim koji veruje da čist vazduh ne treba da bude luksuz ! </p>
              <div class="need-help">
                <p class="phone-info">
                  Potrebna pomoć ?
                  <span>
                                                067-12-02-98 <br />

                                            </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-end pt-3 pb-2">
            <div class="text-right" >
              <div class="single-wedge text-right">
                <h4 class="footer-herading">Kontaktirajte nas preko email-a</h4>
                <div class="subscrib-text">
                  <p>Ukoliko imate imate bilo kakvih pitanja, možete nas kontaktirati preko email-a</p>
                </div>
                <form >
                  <input class="form-control"  placeholder="Vaša e-mail adresa ." >
                  <input class="form-control" placeholder="Postavite pitanje?" >
                  <button type="submit" class="btn btn-success justify-content-center "> Pitaj !</button>
                </form>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>

        </div>

  </div>
<!-- Footer Area End -->



<!-- Modal end -->
<!-- JS
============================================ -->

<!-- Vendors JS -->
<!-- <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script> -->

<!-- Plugins JS -->
<!-- <script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/swiper.min.js"></script>
<script src="assets/js/plugins/countdown.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/elevateZoom.js"></script> -->

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>

<!-- Main Activation JS -->
<script src="assets/js/main.js"></script>
</body>
</html>
