

<html class="no-js" lang="en">
<body style="background-color: #101820FF">
<header class="header-wrapper">
  <div class="header-nav">
    <div class="container">
      <div class="header-nav-wrapper d-md-flex d-sm-flex d-xl-flex d-lg-flex justify-content-between">
        <div class="header-static-nav">
          <p style="color: whitesmoke">Dobrodošli u BalkaTrade !</p>
        </div>
        <div *ngIf="token == 0">
        <div class="header-menu-nav">
          <ul class="menu-nav">
                <div class="dropdown">
              <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke">Nalozi<i class="ion-ios-arrow-down "></i></button>

              <ul class="dropdown-menu animation slideDownIn" aria-labelledby="dropdownMenuButton">
                <li ><a routerLink="../login" routerLinkActive="router-link-active"  >Prijavi se</a></li>
                <li ><a routerLink="../register"  routerLinkActive="router-link-active">Registruj se</a></li>
              </ul>
            </div>

          </ul>
        </div>
      </div>
      <div *ngIf="token != 0">
        <div class="header-menu-nav">
          <ul class="menu-nav">
                <div class="dropdown">
              <button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke" (click)="logout()">Odjavi se<i class="ion-ios-arrow-down "></i></button>
            </div>

          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- Header Nav End -->
  <div class="header-topbg-dark ptb-30px d-xl-block d-none sticky-nav" style="background-color: #f5b82e">
    <div class="container">
      <div class="row">
        <div class="col-md-3 d-flex">
          <div class="mobile-menu-toggle home-2">
            <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
              <svg viewBox="0 0 800 600">
                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                <path d="M300,320 L540,320" id="middle"></path>
                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
              </svg>
            </a>
          </div>

          <div class="logo">
            <a ><img  src="assets/images/logo.svg"  alt=""/></a>
          </div>
        </div>

        <!--Cart info Start -->

      </div>
    </div>
    <!--Cart info End -->
  </div>


  <!-- Header Nav End -->
  <div class="header-menu  d-xl-block d-none bg-dark" >
    <div class="container">
      <div class="row">
        <div class="col-lg-2 custom-col-3">
          <div class="header-menu-vertical bg-blue" >
            <h4 class="menu-title be-af-none">Sve kategorije</h4>
            <ul class="menu-content display-block">
              <li class="menu-item">
                <a >Tehnika <i class="ion-ios-arrow-right"></i></a>
                <ul class="sub-menu sub-menu-2 " >
                  <li>
                    <ul class="submenu-item"  *ngFor="let a of tehnikaType">
                      <li (click)="getPostsbyType('tehnikapolja',a.id)"> <a >{{a.tip}}</a> <hr></li>


                    </ul>
                  </li>

                </ul>
                <!-- sub menu -->
              </li>
              <li class="menu-item">
                <a >Automoto <i class="ion-ios-arrow-right"></i></a>
                <ul class="sub-menu sub-menu-2">
                  <li>
                    <ul class="submenu-item"  *ngFor="let a of automotoType">
                      <li (click)="getPostsbyType('automotopolja',a.id)"><a >{{a.tip}}</a> <hr></li>

                    </ul>
                  </li>
                </ul>
                <!-- sub menu -->
              </li>
              <li class="menu-item">
                <a >Nekretnine <i class="ion-ios-arrow-right"></i></a>
                <ul class="sub-menu sub-menu-2">
                  <li>
                    <ul class="submenu-item"  *ngFor="let a of nekretnineType ">
                      <li  (click)="getPostsbyType('nekretninepolja',a.id)"><a >{{a.tip}}</a> <hr></li>

                    </ul>
                  </li>
                </ul>
              <li class="menu-item">
                <a >Poslovi <i class="ion-ios-arrow-right"></i></a>
                <ul class="sub-menu sub-menu-2">
                  <li>
                    <ul class="submenu-item"  *ngFor="let a of posaoType">
                      <li (click)="getPostsbyType('posaopolja',a.id)"><a >{{a.tip}}</a> <hr></li>

                    </ul>
                  </li>
                </ul>
              <li class="menu-item">
                <a >Prehrana <i class="ion-ios-arrow-right"></i></a>
                <ul class="sub-menu sub-menu-2">
                  <li>
                    <ul class="submenu-item"  *ngFor="let a of hranaType">
                      <li (click)="getPostsbyType('hranapolja',a.id)"><a >{{a.tip}}</a> <hr></li>

                    </ul>
                  </li>
                </ul>
              <li class="menu-item">
                <a >Odjeca <i class="ion-ios-arrow-right"></i></a>
                <ul class="sub-menu sub-menu-2">
                  <li>
                    <ul class="submenu-item"  *ngFor="let a of odjecaType">
                      <li (click)="getPostsbyType('odjecapolja',a.id)"><a >{{a.tip}}</a> <hr></li>

                    </ul>
                  </li>
                </ul>
              <li class="menu-item">
                <a >Razno <i class="ion-ios-arrow-right"></i></a>
                <ul class="sub-menu sub-menu-2">
                  <li>
                    <ul class="submenu-item"  *ngFor="let a of raznoType">
                      <li (click)="getPostsbyType('raznopolja',a.id)"><a >{{a.tip}}</a> <hr></li>

                    </ul>
                  </li>
                </ul>
            </ul>
            <!-- menu content -->
          </div>
          <!-- header menu vertical -->
        </div>
        <div class="col-lg-7 custom-col custom-col-3">
          <!-- Slider Start -->
          <div class="slider-area slider-height-2">
            <div class="hero-slider swiper-container">
              <div class="swiper-wrapper">
                <!-- Single Slider  -->
                <div class="swiper-slide bg-img d-flex" style="background-image: url(assets/images/baner.jpg);">
                  <div class="container align-self-center">
                    <div class="slider-content-1 slider-animated-1 text-left pl-60px">
                      <span class="animated color-white">LAKO</span>
                      <h1 class="animated color-white">
                        <br />
                        <strong>TREJDUJ SAD</strong>
                      </h1>

                    </div>
                  </div>
                </div>
                <!-- Single Slider  -->
                <div class="swiper-slide bg-img d-flex" style="background-image: url(assets/images/baner.jpg);">
                  <div class="container align-self-center">
                    <div class="slider-content-1 slider-animated-1 text-left pl-60px">
                      <span class="animated color-white">LAKO</span>
                      <h1 class="animated color-white">
                        Postavi oglas <br />
                        <strong>Brzo</strong>
                      </h1>
                      <a  class="shop-btn animated">SHOP NOW</a>
                    </div>
                  </div>
                </div>
                <!-- Single Slider  -->
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination swiper-pagination-white"></div>
            </div>
          </div>
          <!-- Slider End -->
        </div>
        <div class="col-lg-3">
          <div class="banner-area banner-area-2">
            <div class="banner-wrapper mb-15px">
              <a href="shop-4-column.html"><img src="assets/images/banner-image/9.jpg" alt="" /></a>
            </div>
            <div class="banner-wrapper">
              <a href="shop-4-column.html"><img src="assets/images/banner-image/10.jpg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <!-- Static Area Start -->
    <div class="static-area  ptb-40px">
      <div class="container">
        <div class="static-area-wrap">
          <div class="row">
            <!-- Static Single Item Start -->
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
              <div class="single-static" >

                <i class="fas fa-user-secret  fa-4x  m-2"></i>


                <div class="single-static-meta">
                  <h4 style="color: whitesmoke">Oprez !</h4>
                  <p>Zaštite sebe od cyber kriminala,</p>
                  <p>Nikome ne šaljite povjerljive podatke sa vaše kreditne kartice . </p>
                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
            <!-- Static Single Item Start -->
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
              <div class="single-static">
                <i class="fas fa-radiation fa-4x  m-2"></i>
                <div class="single-static-meta">
                  <h4 style="color: whitesmoke">Upozorenje</h4>
                  <p>Molimo Vas da ne postavljate vulgaran sadržaj.</p>

                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
            <!-- Static Single Item Start -->
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-sm-30px">
              <div class="single-static">
                <i class="far fa-question-circle fa-4x  m-2"></i>
                <div class="single-static-meta">
                  <h4 style="color: whitesmoke">Podrška 24/7</h4>
                  <p>Ukoliko imate pitanja javite se !</p>
                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
            <!-- Static Single Item Start -->
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
              <div class="single-static">
                <i class="fas fa-door-open fa-4x  m-2" ></i>
                <div class="single-static-meta">
                  <h4 style="color: whitesmoke">Korisnik/Gost</h4>
                  <p>Oglas možete postaviti kao korisnik i kao gost.</p>
                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Static Area End -->
  </div>
  <!-- header menu -->
</header>
<!-- Header Section End Here -->

<!-- Mobile Header Section Start -->
<div class="mobile-header d-xl-none sticky-nav  ptb-10px" style=" background-color:#f5b82e">
  <div class="container">
    <div class="row align-items-center">

      <!-- Header Logo Start -->
      <div class="col">
        <div class="header-logo">
          <a href="index.html"><img class="img-responsive" src="assets/images/logo.svg" alt="baner.jpg" style="width:20%" /></a>
        </div>
      </div>
      <!-- Header Logo End -->

      <!-- Header Tools Start -->
      <div class="col-auto">
        <div class="header-tools justify-content-end">

          <div class="mobile-menu-toggle">
            <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
              <svg viewBox="0 0 800 600">
                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                <path d="M300,320 L540,320" id="middle"></path>
                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!-- Header Tools End -->

    </div>
  </div>
</div>

<!-- Search Category Start -->

<!-- Search Category End -->
<div class="mobile-category-nav d-xl-none mb-15px" STYLE="background-color:#f5b82e">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!--=======  category menu  =======-->
        <div class="hero-side-category">
          <!-- Category Toggle Wrap -->
          <div class="category-toggle-wrap">
            <!-- Category Toggle -->
            <button class="category-toggle"><i class="fa fa-bars"></i> Sve kategorije</button>
          </div>

          <!-- Category Menu -->
          <nav class="category-menu">

            <ul>
              <li class="menu-item-has-children menu-item-has-children-1">
                <a >Tehnika<i class="ion-ios-arrow-down"></i></a>

                <ul  class="category-mega-menu category-mega-menu-1">
                  <li *ngFor="let a of tehnikaType"><a (click)="getPostsbyType('tehnikapolja',a.id)" >{{a.tip}}</a></li>

                </ul>
              </li>
              <li class="menu-item-has-children menu-item-has-children-2">
                <a >Automoto<i class="ion-ios-arrow-down"></i></a>

                <ul  class="category-mega-menu category-mega-menu-2">
                  <li *ngFor="let a of automotoType"><a (click)="getPostsbyType('automotopolja',a.id)" >{{a.tip}}</a></li>

                </ul>
              </li>

              <li class="menu-item-has-children menu-item-has-children-3">
                <a >Hrana<i class="ion-ios-arrow-down"></i></a>

                <ul  class="category-mega-menu category-mega-menu-3">
                  <li *ngFor="let a of hranaType"><a (click)="getPostsbyType('hranapolja',a.id)" >{{a.tip}}</a></li>

                </ul>
              </li>
              <li class="menu-item-has-children menu-item-has-children-4">
                <a >Odjeca<i class="ion-ios-arrow-down"></i></a>

                <ul  class="category-mega-menu category-mega-menu-4">
                  <li *ngFor="let a of odjecaType"><a (click)="getPostsbyType('odjecapolja',a.id)" >{{a.tip}}</a></li>

                </ul>
              </li>
              <li class="menu-item-has-children menu-item-has-children-5">
                <a >Posao<i class="ion-ios-arrow-down"></i></a>

                <ul  class="category-mega-menu category-mega-menu-5">
                  <li *ngFor="let a of posaoType"><a (click)="getPostsbyType('posaopolja',a.id)" >{{a.tip}}</a></li>

                </ul>
              </li>
              <li class="menu-item-has-children menu-item-has-children-6">
                <a >Nekretnine<i class="ion-ios-arrow-down"></i></a>

                <ul  class="category-mega-menu category-mega-menu-6">
                  <li *ngFor="let a of nekretnineType"><a (click)="getPostsbyType('nekretninepolja',a.id)" >{{a.tip}}</a></li>

                </ul>
              </li>
              <li class="menu-item-has-children menu-item-has-children-7">
                <a >Razno<i class="ion-ios-arrow-down"></i></a>

                <ul  class="category-mega-menu category-mega-menu-7" >
                  <li *ngFor="let a of raznoType" ><a (click)="getPostsbyType('raznopolja',a.id)" >{{a.tip}}</a></li>

                </ul>
              </li>







            </ul>
          </nav>
        </div>

        <!--=======  End of category menu =======-->
      </div>
    </div>
  </div>
</div>
<!-- Mobile Header Section End -->
<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
  <div class="inner">
    <div class="head">
      <span class="title">Wishlist</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/1.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Walnut Cutting Board</a>
            <span class="quantity-price">1 x <span class="amount">$100.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/2.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Lucky Wooden Elephant</a>
            <span class="quantity-price">1 x <span class="amount">$35.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/3.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Fish Cut Out Set</a>
            <span class="quantity-price">1 x <span class="amount">$9.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="buttons">
        <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
      </div>
    </div>
  </div>
</div>
<!-- OffCanvas Wishlist End -->

<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
  <div class="inner">
    <div class="head">
      <span class="title">Cart</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/1.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Walnut Cutting Board</a>
            <span class="quantity-price">1 x <span class="amount">$100.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/2.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Lucky Wooden Elephant</a>
            <span class="quantity-price">1 x <span class="amount">$35.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/3.jpg" alt="Cart product Image"></a>
          <div class="content">
            <a href="single-product.html" class="title">Fish Cut Out Set</a>
            <span class="quantity-price">1 x <span class="amount">$9.00</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="sub-total">
        <strong>Subtotal :</strong>
        <span class="amount">$144.00</span>
      </div>
      <div class="buttons">
        <a href="cart.html" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
        <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
      </div>
      <p class="minicart-message">Free Shipping on All Orders Over $100!</p>
    </div>
  </div>
</div>
<!-- OffCanvas Cart End -->

<!-- OffCanvas Search Start -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
  <div class="inner customScroll">
    <div class="head">
      <span class="title">&nbsp;</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="offcanvas-menu-search-form">

    </div>
    <div class="offcanvas-menu">
      <ul>
        <li><a routerLink="../add"><span class="menu-text">Dodaj objavu</span></a>

        </li>
        <li><a ><span class="menu-text">Nalog</span></a>



              <ul class="sub-menu">
                <li><a routerLink="../login" >Uloguj se</a></li>
                <li><a routerLink="../register">Registruj se</a></li>
              </ul>
            </li>

            <li>
          </ul>
<ul class="menu-text">
        <li><a (click)="onClick('#kontakt')">Kontaktirajte nas</a></li>
</ul>
    </div>

    <div class="offcanvas-social mt-30px">
      <ul>
        <li>
          <a href="#"><i class="icon-social-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="icon-social-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="icon-social-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="icon-social-google"></i></a>
        </li>
        <li>
          <a href="#"><i class="icon-social-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- OffCanvas Search End -->

<div class="offcanvas-overlay"></div>


<!-- Header Nav End -->
<div class="header-menu  d-xl-none bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <!-- Slider Start -->
        <div class="slider-area slider-height-2 mb-md-30px mb-lm-30px mb-sm-30px">
          <div class="hero-slider swiper-container">
            <div class="swiper-wrapper">
              <!-- Single Slider  -->
              <div class="swiper-slide bg-img d-flex" style="background-image: url(assets/images/slider-image/sample-3.jpg);">
                <div class="container align-self-center">
                  <div class="slider-content-1 slider-animated-1 text-left pl-60px">
                    <span class="animated color-white">GALAXY WATCH</span>
                    <h1 class="animated color-white">
                      Pre-Order <br />
                      <strong>Exclusive</strong>
                    </h1>
                    <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                  </div>
                </div>
              </div>
              <!-- Single Slider  -->
              <div class="swiper-slide bg-img d-flex" style="background-image: url(assets/images/slider-image/sample-4.jpg);">
                <div class="container align-self-center">
                  <div class="slider-content-1 slider-animated-1 text-left pl-60px">
                    <span class="animated color-white">BT HEADPHONE</span>
                    <h1 class="animated color-white">
                      Headset <br />
                      <strong>Hyper X</strong>
                    </h1>
                    <a href="shop-4-column.html" class="shop-btn animated">SHOP NOW</a>
                  </div>
                </div>
              </div>
              <!-- Single Slider  -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
          </div>
        </div>
        <!-- Slider End -->
      </div>
      <div class="col-lg-3">
        <div class="banner-area">
          <div class="banner-wrapper mb-md-30px mb-lm-30px mb-sm-30px">
            <a href="shop-4-column.html"><img src="assets/images/banner-image/9.jpg" alt="" /></a>
          </div>
          <div class="banner-wrapper mb-0px">
            <a href="shop-4-column.html"><img src="assets/images/banner-image/10.jpg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  <!-- Static Area Start -->
  <div class="static-area  ptb-40px">
    <div class="container">
      <div class="static-area-wrap">
        <div class="row">
          <!-- Static Single Item Start -->

          <!-- Static Single Item End -->
          <!-- Static Single Item Start -->
          <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
            <div class="single-static">

                <i class="fas fa-user-secret  fa-4x  m-2"></i>


                <div class="single-static-meta">
                  <h4>Oprez !</h4>
                  <p>Zaštite sebe od cyber kriminala,</p>
                  <p>Nikome ne šaljite povjerljive podatke sa vaše kreditne kartice . </p>
                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
            <!-- Static Single Item Start -->
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
              <div class="single-static">
                <i class="fas fa-radiation fa-4x  m-2"></i>
                <div class="single-static-meta">
                  <h4>Upozorenje</h4>
                  <p>Molimo Vas da ne postavljate vulgaran sadržaj.</p>

                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
            <!-- Static Single Item Start -->
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
              <div class="single-static">
                <i class="far fa-question-circle fa-4x m-2"></i>
                <div class="single-static-meta">
                  <h4>Podrška 24/7</h4>
                  <p>Ukoliko imate pitanja javite se !</p>
                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
            <!-- Static Single Item Start -->
            <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6 mb-md-30px mb-lm-30px">
              <div class="single-static">
                <i class="fas fa-door-open fa-4x  m-2" ></i>
                <div class="single-static-meta">
                  <h4>Korisnik/Gost</h4>
                  <p>Oglas možete postaviti kao korisnik i kao gost.</p>
                </div>
              </div>
            </div>
            <!-- Static Single Item End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Static Area End -->
  </div>

<!-- header menu -->
<!-- Feature Area start -->
<div class="feature-area mt-60px mb-30px">
  <div class="container">
<div class="col-md-12">
  <app-products  ></app-products>
</div>
      <div class="section-title ">

        <h2 class="section-heading pt-2 " style="color: #ffffff;">Preporučeni produkti</h2>
      </div>

  </div>



      <!-- Single Item -->



          <div  class="row " >
            <div class="loader" *ngIf="spiner===false">Loading...</div>
<div class="col-1"></div>
          <div class="col-md-2 m-2 "*ngFor="let a of featuredPosts | paginate: {
                                      itemsPerPage:6,
                                      currentPage: f
                                       }" >
            <article class="list-product " style="background-color: #f5b82e" >


          <div class="img-block " >
            <a  class="thumbnail" >

              <img class="first-img card-img-top "  src="http://localhost:8000/storage/file/{{a.slika[0].url}}" >
              <img *ngIf="a.slika.length<=1" class=" second-img  card-img-top" src="assets/images/logo.svg"  >
              <img *ngIf="a.slika.length>1" class=" second-img  card-img-top" src="http://localhost:8000/storage/file/{{a.slika[1].url}}"  >
            </a>
            <div class="quick-view">
              <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="s.getId(a.id,a.index)">
                <i class="ion-ios-search-strong"></i>
              </a>
            </div>
          </div>
          <ul class="product-flag">
            <li class="new">Preporučeno</li>
          </ul>
          <div class="product-decs">
            <a class="inner-link" ><span>{{a.naziv}}</span></a>
            <h2><a class="product-link">{{a.opis}}</a></h2>

            <div class="pricing-meta">
              <ul>
                <li class="old-price not-cut">{{a.cijena}}</li>
              </ul>
            </div>
          </div>

            </article>
</div>
            <pagination-controls (pageChange)="f = $event"></pagination-controls>
            </div>


<hr>
</div>

      <!-- Single Item -->



      <!-- Add Arrows -->







<!-- New Arrivals area end -->
<!-- Banner Area Start -->
<div class="banner-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="banner-wrapper">
          <a href="https://glovoapp.com/"><img src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/logo_green.svg" alt="" /></a>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="banner-wrapper">
          <a href="https://glovoapp.com/"><img src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/logo_green.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Area End -->
<!-- Category Tab Area Start -->
<section class="category-tab-area mt-30px mb-40px">
  <div class="container">
    <div class="section-title d-flex">
      <h2 style="color: whitesmoke">Povoljne ponude </h2>
      <!-- Nav tabs -->

    </div>

    <!-- Tab panes -->
    <div class="tab-content banner-area" >
      <!-- 1st tab start -->
      <div id="tab-1" class="tab-pane active">
        <div class="col-md-12">
          <div class="row">
          <div class="col-md-3">

            <div class="banner-wrapper">
              <a ><img src="assets/images/slika1.jpg" alt="" /></a>
            </div>
          </div>
          <div class="col-md-9"  >

  <div class="loader" *ngIf="spiner1===false">Loading...</div>

  <div class="row " >
    <div class="col-md-3 m-2"   *ngFor="let a of cheapPosts | paginate: {
                                      itemsPerPage:9,
                                      currentPage: e
                                       }">
                  <article class="list-product" style="background-color:silver"  >
                    <div class="img-block">
                      <img class="first-img card-img-top "  src="http://localhost:8000/storage/file/{{a.slika[0].url}}" >
                      <img *ngIf="a.slika.length<=1" class=" second-img  card-img-top" src="assets/images/logo.svg"  >
                      <img *ngIf="a.slika.length>1" class=" second-img  card-img-top" src="http://localhost:8000/storage/file/{{a.slika[1].url}}"  >

                      <div class="quick-view">
                        <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="s.getId(a.id,a.index)">
                          <i class="ion-ios-search-strong"></i>
                        </a>
                      </div>
                    </div>
                    <ul class="product-flag">
                      <li class="new">Jeftino</li>
                    </ul>
                    <div class="product-decs">
                      <a class="inner-link" ><span>{{a.naziv}}</span></a>
                      <h2><a class="product-link">{{a.opis}}</a></h2>

                      <div class="pricing-meta">
                        <ul>
                          <li class="old-price not-cut">{{a.cijena}}</li>
                        </ul>
                      </div>
                    </div>

                  </article>
                </div>
  </div>
            <pagination-controls (pageChange)="e = $event"></pagination-controls>
                <!-- Single Item -->
              </div>
      <!-- 3rd tab end -->
    </div>
  </div>
    </div>
        </div>
  </div>
</section>
<!-- Category Tab Area end -->
<!-- category Area Start -->
<div class="popular-categories-area ptb-60px bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="section-heading" STYLE="color: whitesmoke">Popularne kategorije</h2>
        </div>
      </div>
    </div>
    <div class="category-slider slider-nav-style-1">
      <div class="category-slider-wrapper swiper-wrapper">
        <div class="category-slider-item swiper-slide">
          <div class="category-slider-bg ">
            <div class="thumb-category">
              <a >
                <img src="assets/images/automoto.jpg" alt="product-image.jpg"STYLE="height: 400px" />
              </a>
            </div>
            <div class="category-discript">
              <h4>Automobili</h4>

              <a (click)="onClick('#produkti')" class="view-all-btn">Pogledaj sve</a>
            </div>
          </div>
        </div>
        <div class="category-slider-item swiper-slide">
          <div class="category-slider-bg ">
            <div class="thumb-category">
              <a>
                <img src="assets/images/tehnika.jpg" alt="product-image.jpg"STYLE="height: 400px" />
              </a>
            </div>
            <div class="category-discript">
              <h4>PC</h4>
              <a (click)="onClick('#produkti')" class="view-all-btn">Pogledaj sve</a>
            </div>
          </div>
        </div>
        <div class="category-slider-item swiper-slide">
          <div class="category-slider-bg ">
            <div class="thumb-category">
              <a>
                <img src="assets/images/stan.jpg" alt="product-image.jpg"STYLE="height: 400px" />
              </a>
            </div>
            <div class="category-discript">
              <h4>Stanovi</h4>
              <a (click)="onClick('#produkti')" class="view-all-btn">Pogledaj sve</a>
            </div>
          </div>
        </div>
        <div class="category-slider-item swiper-slide">
          <div class="category-slider-bg ">
            <div class="thumb-category">
              <a >
                <img src="assets/images/patike.jpg" alt="product-image.jpg"STYLE="height: 400px" />
              </a>
            </div>
            <div class="category-discript">
              <h4>Patike</h4>

              <a (click)="onClick('#produkti')" class="view-all-btn">Pogledaj sve</a>
            </div>
          </div>
        </div>
        <div class="category-slider-item swiper-slide">
          <div class="category-slider-bg ">
            <div class="thumb-category">
              <a >
                <img src="assets/images/programeri.jpg" alt="product-image.jpg"STYLE="height: 400px" />
              </a>
            </div>
            <div class="category-discript">
              <h4>Programeri</h4>
              <a  class="view-all-btn">View All</a>
            </div>
          </div>
        </div>
        <div class="category-slider-item swiper-slide">
          <div class="category-slider-bg ">
            <div class="thumb-category">
              <a >
                <img src="assets/images/voce.jpg" alt="product-image.jpg"STYLE="height: 400px" />
              </a>
            </div>
            <div class="category-discript">
              <h4>Voće</h4>
              <a  class="view-all-btn">View All</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-buttons">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>






<!-- category Area End -->

<!-- Recently Add area start -->
<div class="recent-add-area mb-30px mt-60px ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="section-heading" style="color: whitesmoke">Nedavno dodati</h2>
        </div>
      </div>
    </div>
    <div class="loader" *ngIf="spiner2===false">Loading...</div>

    <div class="row">
      <div class="col-md-2" *ngFor="let a of newestPosts  | paginate: {
           itemsPerPage:18,
           currentPage: c
           }">


          <article class="list-product m-3 bg-dark zoom">
            <div class="img-block "style="width:100%">
              <img class="first-img card-img-top1 "  src="http://localhost:8000/storage/file/{{a.slika[0].url}}" >
              <img *ngIf="a.slika.length<=1" class=" second-img  card-img-top1" src="assets/images/logo.svg"  >
              <img *ngIf="a.slika.length>1" class=" second-img  card-img-top1" src="http://localhost:8000/storage/file/{{a.slika[1].url}}"  >

              <div class="quick-view">
                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="s.getId(a.id,a.index)">
                  <i class="ion-ios-search-strong"></i>
                </a>
              </div>
            </div>
            <ul class="product-flag">
              <li class="new">Novo</li>
            </ul>

            <div class="product-decs">
              <a class="inner-link" ><span style="color: whitesmoke">{{a.naziv}}</span></a>


              <div class="pricing-meta">
                <ul>
                  <li class="old-price not-cut"style="color: whitesmoke">{{a.cijena}}</li>
                </ul>
              </div>


            <p><a class="product-link"style="color: whitesmoke">{{a.created_at}}</a></p>
            </div></article>

    </div>

      </div>
    </div>
    <pagination-controls (pageChange)="  c = $event"></pagination-controls>

</div>

<!-- Recently Add area end -->
<!-- Brand area start -->
<div class="brand-area mb-60px">
  <div class="container">
    <div class="brand-slider slider-nav-style-1  slider-nav-style-2">
      <div class="brand-slider-wrapper swiper-wrapper">
        <div class="brand-slider-item swiper-slide">
          <a href="#"><img src="assets/images/brand-logo/1.jpg" alt="" /></a>
        </div>
        <div class="brand-slider-item swiper-slide">
          <a href="#"><img src="assets/images/brand-logo/2.jpg" alt="" /></a>
        </div>
        <div class="brand-slider-item swiper-slide">
          <a href="#"><img src="assets/images/brand-logo/3.jpg" alt="" /></a>
        </div>
        <div class="brand-slider-item swiper-slide">
          <a href="#"><img src="assets/images/brand-logo/4.jpg" alt="" /></a>
        </div>
        <div class="brand-slider-item swiper-slide">
          <a href="#"><img src="assets/images/brand-logo/5.jpg" alt="" /></a>
        </div>
        <div class="brand-slider-item swiper-slide">
          <a href="#"><img src="assets/images/brand-logo/1.jpg" alt="" /></a>
        </div>
        <div class="brand-slider-item swiper-slide">
          <a href="#"><img src="assets/images/brand-logo/2.jpg" alt="" /></a>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-buttons">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>
<!-- Brand area end -->
<!-- Footer Area Start -->
<div class="footer-area" id="#kontakt" style="background-color: #f5b82e ">
  <div class="footer-container" >
    <div class="footer-top ">
      <div class="container">
        <div class="row" >
          <div class="col-md-6 col-lg-4 ">
            <div class="single-wedge">
              <h4 class="footer-herading">O nama :</h4>
              <p class="text-infor">Mi smo mladi tim koji veruje da čist vazduh ne treba da bude luksuz ! </p>
              <div class="need-help">
                <p class="phone-info">
                  Potrebna pomoć ?
                  <span>
                                                067-12-02-98 <br />

                                            </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-end pt-3 pb-2">
            <div class="text-right" >
              <div class="single-wedge text-right">
                <h4 class="footer-herading">Kontaktirajte nas preko email-a</h4>
                <div class="subscrib-text">
                  <p>Ukoliko imate imate bilo kakvih pitanja, možete nas kontaktirati preko email-a</p>
                </div>
                <form >
                  <input class="form-control"  placeholder="Vaša e-mail adresa ." >
                  <input class="form-control" placeholder="Postavite pitanje?" >
                  <button type="submit" class="btn btn-success justify-content-center "> Pitaj !</button>
                </form>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>




        </div>







  </div>

<!-- Footer Area End -->
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <div class="row" >
          <div class="col-md-5 col-sm-12 col-xs-12 mb-lm-100px mb-sm-30px">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
               <div class="swiper-slide" >
                <img class="img-responsive m-auto card-img-top" src="http://localhost:8000/storage/file/{{s.productSlike[0]}}" >
               </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto card-img-top" src="http://localhost:8000/storage/file/{{s.productSlike[1]}}" >
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto card-img-top" src="http://localhost:8000/storage/file/{{s.productSlike[2]}}" >
                </div>
                <div class="swiper-slide">
                <img class="img-responsive m-auto card-img-top" src="http://localhost:8000/storage/file/{{s.productSlike[3]}}" >
              </div>


              </div>
            </div>
            <div class="swiper-container gallery-thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide"  >
                  <img class="img-responsive m-auto" style="height: 50px" src="http://localhost:8000/storage/file/{{s.productSlike[0]}}" >
                </div>
                <div class="swiper-slide"  >
                  <img class="img-responsive m-auto" style="height: 50px"  src="http://localhost:8000/storage/file/{{s.productSlike[1]}}" >
                </div>

                <div class="swiper-slide"  >
                  <img class="img-responsive m-auto" style="height: 50px" src="http://localhost:8000/storage/file/{{s.productSlike[2]}}" >
                </div>
                <div class="swiper-slide"  >
                  <img class="img-responsive m-auto" style="height: 50px" src="http://localhost:8000/storage/file/{{s.productSlike[3]}}" >
                </div>


              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12" >
            <div class="product-details-content quickview-content">
              <h2>{{s.productId.naziv}}</h2>


              <div class="pricing-meta">
                <ul>
                  <li class="old-price not-cut"> Cijena :{{s.productId.cijena}}</li>
                </ul>
              </div>
              <p class="quickview-para">{{s.productId.opis}}</p>
              <div class="pro-details-size-color">
                <div class="pro-details-color-wrap">
                  <span>Color</span>
                  <div class="pro-details-color-content">
                    <ul>
                      <li class="blue"></li>
                      <li class="maroon active"></li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="pro-details-social-info">
                <span>Share</span>
                <div class="social-info">
                  <ul>
                    <li>
                      <a href="#"><i class="ion-social-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>


</html>
