
  <div class="shop-sidebar-wrap" *ngIf="s.swF===1">

    <!-- Sidebar single item -->
    <div class="sidebar-widget-group mt-20 padding-30px bg-white">
      <h3 class="sidebar-title">Filtriraj Automoto</h3>
      <div class="sidebar-widget mt-20">
        <h4 class="pro-sidebar-title">Price</h4>


        <input placeholder="Minimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.cijenaMin"> <input placeholder="Maksimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.cijenaMax">

      </div>

      <div class="sidebar-widget no-cba mt-20">
        <h4 class="pro-sidebar-title">Marka&Model</h4>
        <div class="sidebar-widget-list ">
          <div class="row">
         <input placeholder="marka" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.marka"> <input placeholder="model" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.model">
          </div>
      </div>
      </div>
      <!-- Sidebar single item -->
      <div class="sidebar-widget mt-30">
        <h4 class="pro-sidebar-title">Godiste</h4>
        <div class="sidebar-widget-list">
          <div class="row">
            <input placeholder="min" type="number" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.godistMin"> <input placeholder="max" type="number" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.godisteMax">
          </div>
        </div>
      </div>
      <div class="sidebar-widget mt-30">
        <h4 class="pro-sidebar-title">Kubikaza</h4>
        <div class="sidebar-widget-list">
          <div class="row">
            <input placeholder="min" type="number" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.kubikazaMin"> <input placeholder="max" type="number" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.kubikazaMax">
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-2" (click)="filtrirajA()"> Filtriraj </button>
      </div>

    </div>


  </div>
<div class="shop-sidebar-wrap" *ngIf="s.swF===2">


  <div class="sidebar-widget-group mt-20 padding-30px bg-white">
    <h3 class="sidebar-title">Filtriraj Razno</h3>
    <div class="sidebar-widget mt-20">
      <h4 class="pro-sidebar-title">Cijena</h4>
      <input type="number" placeholder="Minimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="RaznoF.cijenaMin"> <input type="number" placeholder="Maksimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="RaznoF.cijenaMax">



    </div>


    <div class="text-center">
      <button class="btn btn-primary mt-2" (click)="filtrirajR()"> Filtriraj </button>
    </div>

  </div>


</div>
<div *ngIf="s.swF===3">
  <div class="sidebar-widget-group mt-20 padding-30px bg-white">
  <h3 class="sidebar-title ptb-10px">Filtriraj produkte</h3>
  <div class="sidebar-widget mt-20">
    <h4 class="pro-sidebar-title">Cijena</h4>
    <input type="number"   placeholder="Minimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="HranaF.cijenaMin"> <input type="number" placeholder="Maksimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="HranaF.cijenaMax">
  </div>
  <div class="text-center">
    <button class="btn btn-primary mt-2" (click)="filtrirajH()"> Filtriraj </button>
  </div>
  </div>

</div>
  <div *ngIf="s.swF===4">
    <div class="sidebar-widget-group mt-20 padding-30px bg-white">
      <h3 class="sidebar-title ptb-10px">Filtriraj posao</h3>
      <div class="sidebar-widget mt-20">
        <h4 class="pro-sidebar-title">Plata</h4>
        <input type="number"   placeholder="Minimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="PlataF.cijenaMin"> <input type="number" placeholder="Maksimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="PlataF.cijenaMax">
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-2" (click)="filtrirajP()"> Filtriraj </button>
      </div>
    </div>

  </div>
  <div *ngIf="s.swF===5">
    <div class="sidebar-widget-group mt-20 padding-30px bg-white">
      <h3 class="sidebar-title ptb-10px">Filtriraj odjecu</h3>
      <div class="sidebar-widget mt-20">
        <h4 class="pro-sidebar-title">Cijena</h4>
        <input type="number"   placeholder="Minimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="OdjecaF.cijenaMin"> <input type="number" placeholder="Maksimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="OdjecaF.cijenaMax">
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-2" (click)="filtrirajO()"> Filtriraj </button>
      </div>
    </div>

  </div>
  <div *ngIf="s.swF===6">
    <div class="sidebar-widget-group mt-20 padding-30px bg-white">
      <h3 class="sidebar-title ptb-10px">Filtriraj nekretnine</h3>
      <div class="sidebar-widget mt-20">
        <h4 class="pro-sidebar-title">Cijena</h4>
        <input type="number"   placeholder="Minimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="NekretnineF.cijenaMin"> <input type="number" placeholder="Maksimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="NekretnineF.cijenaMax">
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-2" (click)="filtrirajN()"> Filtriraj </button>
      </div>
    </div>

  </div>
  <div *ngIf="s.swF===7">
    <div class="sidebar-widget-group mt-20 padding-30px bg-white">
      <h3 class="sidebar-title ptb-10px">Filtriraj Tehnika</h3>
      <div class="sidebar-widget mt-20">
        <h4 class="pro-sidebar-title">Cijena</h4>
        <input type="number"   placeholder="Minimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="TehnikaF.cijenaMin"> <input type="number" placeholder="Maksimalna cijena" class="form-control bg-dark text-danger" [(ngModel)]="TehnikaF.cijenaMax">
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-2" (click)="filtrirajT()"> Filtriraj </button>
      </div>
    </div>

  </div>
