
  <div class="shop-sidebar-wrap" *ngIf="s.swF===1">

    <!-- Sidebar single item -->
    <div class="sidebar-widget-group mt-20 padding-30px bg-white">
      <h3 class="sidebar-title">Filtriraj Automoto</h3>
      <div class="sidebar-widget mt-20">
        <h4 class="pro-sidebar-title">Price</h4>

        <ngx-slider [(highValue)]="cijenaF.cijena_max"  [(value)]="cijenaF.cijena_min" [options]="options" ></ngx-slider>

      </div>

      <div class="sidebar-widget no-cba mt-20">
        <h4 class="pro-sidebar-title">Marka&Model</h4>
        <div class="sidebar-widget-list ">
          <div class="row">
         <input placeholder="marka" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.marka"> <input placeholder="model" class="form-control bg-dark text-danger" [(ngModel)]="AutomotoF.model">
          </div>
      </div>
      </div>
      <!-- Sidebar single item -->
      <div class="sidebar-widget mt-30">
        <h4 class="pro-sidebar-title">Godiste</h4>
        <div class="sidebar-widget-list">
          <div class="row">
            <input placeholder="min" type="number" class="form-control bg-dark text-danger"[(ngModel)]="AutomotoF.godistMin"> <input placeholder="max" type="number" class="form-control bg-dark text-danger"[(ngModel)]="AutomotoF.godisteMax">
          </div>
        </div>
      </div>
      <div class="sidebar-widget mt-30">
        <h4 class="pro-sidebar-title">Kubikaza</h4>
        <div class="sidebar-widget-list">
          <div class="row">
            <input placeholder="min" type="number" class="form-control bg-dark text-danger"[(ngModel)]="AutomotoF.kubikazaMin"> <input placeholder="max" type="number" class="form-control bg-dark text-danger"[(ngModel)]="AutomotoF.kubikazaMax">
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mt-2" (click)="filtrirajA()"> Filtriraj </button>
      </div>

    </div>


  </div>
<div class="shop-sidebar-wrap" *ngIf="s.swF===2">

  <!-- Sidebar single item -->
  <div class="sidebar-widget-group mt-20 padding-30px bg-white">
    <h3 class="sidebar-title">Filtriraj Automoto</h3>
    <div class="sidebar-widget mt-20">
      <h4 class="pro-sidebar-title">Cijena</h4>

      <ngx-slider [(highValue)]="cijenaF.cijena_max"  [(value)]="cijenaF.cijena_min" [options]="options" ></ngx-slider>

    </div>


    <div class="text-center">
      <button class="btn btn-primary mt-2" (click)="filtrirajR()"> Filtriraj </button>
    </div>

  </div>


</div>


